.fullscreen-loader {
    z-index: 3;
    position: fixed;
    height: 124vh;
    background-color: white;
    width: 100vw;
    margin-top: -24px;
    display: flex;
    justify-content: center;
}

.fullscreen-loader-loading-div {
    height: 70px;
    width: 70px;
    position: relative;
    top: 50vh;
    border-radius: 50%;
    border: teal solid 6px;
    border-right: white solid 6px;
    animation: spin 1s linear infinite;
    transition: 1s;
}